#root {
  .main-page {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 237px 20px 220px;
      .date {
        color: white;
        font-size: 25px;
      }
      .menu {
        width: 40px;
        height: 40px;
      }
    }
    .region {
      color: white;
      padding: 0 220px;
      font-size: 20px;
    }
    .weather-container {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 200px;
      .tmp {
        color: white;
        padding: 30px 20px;
        font-size: 100px;
        font-weight: 700;
      }
      .sky {
        width: 200px;
        height: 172px;
      }
    }
  }
}
